@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
div#a{
    height: 500px;
    background-image: url("image.png");
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right top; 
}

#b{
    border-width: 2px;
    border-style: dashed;
    border-color: brown;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: blueviolet;
    border-top-style:groove;
    border-bottom-color:aqua;
}

#c{
    border-style: solid;
    border-color:red;
    border-width:5px 10px;
}

#d{
    border-style: solid dotted dashed double;
    border-color: blue red green yellow ;
    border-width: 2px 5px 8px 11px;
}

#e{ 
    margin: 20% 10%;
    border: 10px ridge red;
    border-radius: 2px 5px 10px 20px;
}

#f{
    border: 2px solid ;
    margin: 10%;
    color:red;
}
#g{
    border: inherit;
    margin: inherit;
}
#h{
    border:2px solid;
    width:20%;
    padding:20%;
}
#i{
    border:2px solid;
    width:20%;
    padding:20%;
    box-sizing:border-box;
}
#j{
    border:2px solid;
    outline:5px solid green;
}
#j h3{
    border:2px dotted;
    outline:5px solid yellowgreen;
    outline-offset: 5px;
}
#k h3{
    margin:2%;
    text-decoration:3px underline dotted red;
    outline: 8px dotted green;
    outline-offset: 4px;
}
#k p{
    text-align: justify;
    text-indent: 10px;
    line-height: 3;
    letter-spacing: 3px;
    word-spacing: 6px;
}
#k span{
    text-shadow: 2px 2px 5px red;
    text-transform: uppercase;
}
.circle{
    margin: 3rem auto;
    background-color: gold;
    border: 2px solid;
    width: 100px;
    height: 100px;
}
.circle:hover{
    background-color: green;
    border-radius: 50px;
}
.circle2{
    margin:3rem auto;
    width:3rem;
    height: 3rem;
    border:2px solid;
    background-color: red;
    border-radius: 1.5rem;
}
.circle2:hover{
    background-color: blue;
    border-radius: 0;
}
.google-font{
    font-family:'Rubik Bubbles';
    text-align: justify;
}
div.google-font ::selection{
    background-color: green;
    color: rgb(255, 0, 0);
}

a[href="#home"]{
    color: green;
    cursor: progress;
}

a[href="#about"]{
    color: green;
    cursor: pointer;
}
a[href="#contact"]{
    color: green;
    cursor:crosshair;
}
a:hover, a:focus{
    color:yellow;
}
ul{
    list-style-type:circle;
}
ul li{
    float: left;
    margin:2em;
}
ol#img{
    text-align: center;
    list-style-image: url("tick.png");
    list-style-position: inside;
}
ol[type="A"]{
    color:red;
}
ol[type="A"] ::marker{
    color: rgb(108, 165, 42);
}
p.content::after{
    content: "content inserted using psuedo element";
}
ol.content ::marker{
    content:"bla. ";
    font-weight:bold;
}