:root{
    --head-color:rgba(220, 195, 171, 0.749);
    --head-bg-color:rgb(14, 14, 14);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 200vh;
}

/*mobile view*/
@media screen and (min-width:100px) {
    header{
        background-color: var(--head-bg-color);
        color: var(--head-color);
        display: flex;
        flex-flow: column nowrap;
        padding: 0.2rem;
        position: fixed;
        top:0;
        width: 100%;
    }
    /* menu */
    .menue-btn{
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        right: 5px;
        top:3px;
        transition: transform 0.5s;
    }
    #menu-check:checked+label{
        border-radius: 15%;
        border: 1px solid white;
        outline: 2px solid white;
        padding: 0;
        transform:scale(1.1);
    }
    #menu-check{
        display: none;
    }
    /* nav */
    nav ul{
        display: flex;
        flex-flow: column nowrap;
        list-style: none;
        max-height: 0px;
        overflow: hidden;
        transition-timing-function: ease;
        transition: max-height 0.5s;
    }
    nav a{
        border-top: 1px solid;
        color: var(--head-color);
        display: block;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        transition: transform 0.5s;
    }
    nav a:hover{
        transform:scale(1.2)
    }
    #menu-check:checked+label+nav ul{
        max-height: 100px;
    }
    h2{
        margin-top: 2.6rem;
    }
}

/* desktop view */
@media screen and (min-width:600px){
    .menue-btn{
        display: none;
    }
    header{
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    h1{
        flex:1;
    }
    nav{
        flex:2;
        display: flex;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        flex:1;
        justify-content: space-evenly;
        max-height: 100%;
        width: 100%;
    }
    nav ul li{
        display: grid;
        place-content: center;
    }
    nav ul li a{
        border: none;
    }
}