h3.simple{
    color: red;
}

p.combinator span{
    color: green;
}

p.combinator>small{
    color: rgb(128, 0, 0);
} 
p.combinator>small~span{
    color: rgb(9, 0, 128);
}
span#adj+span{
    color:rgb(226, 43, 43);
}

h3.pseudoClass:hover{
    color: red;
}

.pseudoElement::first-letter{
    color: blue;
}
p.pseudoElement::after{
    content:url(./online_book_store\output.png)
}
p.pseudoElement::selection{
    background-color: yellow;
    color:blue;
}

h3[class="attribute"]{
    color: brown;
}

/* here priority goes to the style with the important */
.important{
    color: green!important;
}

.important{
    color: red;
}
#imp{
    color:yellow;
}
#hh{
    background-color: #333333;
}